@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    text-align: justify;
    padding: 1rem 2rem;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    max-width: 900px;
    background: white;
    position: relative;
    border: 2px solid gold;
}

#social-media {
    display: flex;
    flex-wrap: wrap;

    img {
        transition: all 1s;

        &:hover {
            transform: translate(10px, -10px);
            opacity: 0.5;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
        }

    }
}

body {
    background: gold;
}

#about-me {
    display: block;
}

section h2 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1rem;
}

p {
    font-family: 'Lora', serif;
    margin-bottom: 1rem;
}

ul {
    padding-left: 40px;
}

img {
    width: auto;
    height: 100px;
}

#personal-details img {
    max-width: 40%;
    height: auto;
}


/* Top right text */
.top-right {
    display: initial;
    border: 0;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    text-align: right;
    font-size: 1.5rem;
}



/* Mobile Styles */
@media only screen and (max-width: 500px) {
    body {
        font-size: 1.2rem;
    }

    section {
        text-align: start;
    }

    section h2 {
        margin-bottom: 0.5rem;
    }

    #personal-details img {
        max-width: 70%;
    }

    #personal-details .top-right {
        font-size: 1.2rem;
    }


    #github,
    #linked-in,
    #e-mail {
        width: 33.3%;
        justify-content: center;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 501px) and (max-width: 890px) {
    body {
        font-size: 1.1rem;
    }

    #personal-details img {
        // max-width: 30%;
        width: 50%;
    }

    #personal-details .top-right {
        font-size: 1.8rem;
    }

    #work,
    #study {
        width: 50%;
        align-content: flex-start;
    }

    #wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    #github,
    #linked-in,
    #e-mail {
        width: 33.3%;
        justify-content: center;
    }

    /* Top right text */
    .top-right {
        position: absolute;
        top: 2.5rem;
        right: 1rem;
        text-align: left;
        font-size: 1.2rem;
        font-family: 'Lobster', cursive;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 891px) {
    main {
        width: 960px;
        margin: 0 auto;
    }

    body {
        background-color: gold;
        /* Blue */
    }

    body {
        font-size: 1.1rem;
    }

    #personal-details img {
        width: 50%;
        // max-width: 30%;
    }

    #personal-details .top-right {
        font-size: 2rem;
    }

    #work,
    #study {
        width: 47%;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    #wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    #github,
    #linked-in,
    #e-mail {
        width: 31.4%;
        justify-content: center;
    }

    /* Top right text */
    .top-right {
        position: absolute;
        top: 2.5rem;
        right: 1rem;
        text-align: left;
        font-size: 1.2rem;
        font-family: 'Lobster', cursive;
    }
}